* {
  --font1: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.form-div {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(222, 230, 255);
}
.form {
  min-height: 80%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 1rem;
  box-shadow: 3px 3px 6px rgb(222, 230, 255);
}
.form * {
  margin: 0.5em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.normal-header {
  text-align: center;
  color: royalblue;
  text-shadow: 3px 3px 5px gray;
}
form input {
  height: 30px;
  border: 0;
  border-bottom: 1px solid;
  font-size: 1.25rem;
}
input::placeholder {
  font-family: var(--font1);
  font-size: 0.75em;
  font-weight: lighter;
}
input:focus {
  outline: none;
}
h6 {
  font-weight: 200;
  color: rgb(255, 111, 111);
}
button {
  height: 40px;
  background-color: royalblue;
  color: white;
  font-family: var(--font1);
  width: 200px;
  align-self: center;
  border: none;
  box-shadow: 2px 2px 5px blue;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .form-div {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid rgb(159, 183, 255);
    margin-bottom: 2rem;
  }
  .form {
    margin: 2rem 1rem;
    max-width: 700px;
  }
}
