.App{
  background-color: rgb(245, 245, 245);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 900px) {
  :root{
    font-size: 0.8rem;
  }
  .App{
    flex-wrap: wrap;
  }
}